@using Entities.Model
@model Widgets
@{
    ViewBag.Title = "Index";
}

    <div class="container-fluid">
        <div class="row">
            @*<div class="col-md-12 card">
                <div class="card-body">
                    <div class="col-md-12">
                        <h3>Welcome, @CurrentSession.User.UserDisplayName</h3>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-check"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Gözləmədə Olan Sifarişlər</span>
                        <span class="info-box-number">
                            @Html.DisplayFor(x => x.WaitingOrders)                          
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="far fa-clock"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Prosesdə Olan Sifarişlər</span>
                        <span class="info-box-number">@Html.DisplayFor(x => x.ProcessingOrders)</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Satış Gözləyən Sifarişlər</span>
                        <span class="info-box-number">@Html.DisplayFor(x => x.SaleWaitingOrders)</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                    <div class="info-box-content col-12">
                        <span class="info-box-text">İstehsalata Göndərilən Məhsullar</span>
                        <span class="info-box-number">@Html.DisplayFor(x => x.ProductionOrders)</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
    </div>

