@using Entities.Model.LocalModels
@model AdditionalCharges
@{
    ViewBag.Title = "Charges";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<div class="content ">
    <div class="container col-md-6">
        <div class="col-md-12">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Məsrəflər</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCharges">
                                Yeni
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Məsrəf Adı</th>
                                        <th>Məsrəf Faizi</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.Charges)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.charge_name</td>
                                            <td>@item.charge_value</td>
                                            <td><button type="button" onclick="showInPopup('@Url.Action("EditCharges","Admin",new{id=item.ID})')" class="btn btn-info btn-sm">Düzəliş Et</button></td>
                                            <td><button type="button" onclick="deleteCharge(@item.ID)" class="btn btn-danger btn-sm">Sil</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalCharges" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Məsrəf</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formCharges">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Məsrəf Adı</label>
                        @Html.TextBoxFor(x => x.charge_name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.charge_name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Məsrəf Faizi</label>
                        @Html.TextBoxFor(x => x.charge_value, new { @class = "form-control inputmask", @inputmode = "numeric" })
                        @Html.ValidationMessageFor(model => model.charge_value, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                    <a href="#" class="btn btn-primary" id="btnChargesSave">Qeyd Et</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalChargesEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Məsrəf</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
@section JavaScript{
    <script>
        document.getElementById('sidemenu2').className = 'nav-item has-treeview menu-open';
        document.getElementById('sidemenu2_1').className = 'nav-link active';
        document.getElementById('newCharges').className = 'nav-link active';
        showInPopup = (url, title) => {          
            $.ajax({
                type: 'GET',
                url: url,
                success: function (res) {
                    $('#modalChargesEdit .modal-body').html(res);
                    $('#modalChargesEdit .modal-title').html(title);
                    $('#modalChargesEdit').modal('show');
                }
            })
        }
        jQueryAjaxPost = form => {
            try {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = res.Url;
                        }
                        else {
                            $('#modalChargesEdit').modal('hide');
                            var errortext = '';
                            for (var i = 0; i < res.errors.length; i++) {
                                errortext += res.errors[i]
                            }
                            Swal.fire({
                                title: 'Xəta başverdi',
                                text: errortext,
                                icon: 'error',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Bağla'
                            }).then((result) => {
                                if (result.value) {
                                    window.location.href = res.Url;
                                }
                            })
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                })
                return false;
            } catch (ex) {
                alert(ex);
            }
        }
    </script>
}
