@using Entities.Model.LocalModels
@model LocationSubGroup
@{ 
    Layout = null;
}

<form action="CreateEditLocationSubGroup" onsubmit=" return jQueryAjaxPost(this);">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ID)
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Qrup Adı</label>
                @Html.DropDownListFor(model => model.GroupID, new SelectList(ViewBag.Groups, "Value", "Text"), "", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>AltQrup Adı</label>
                @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Qeyd Et</button>
        </div>
    </div>
</form>