@using Entities.Model.LocalModels
@model AdditionalCharges
@{
    ViewBag.Title = "EditCharges";
    Layout = null;
}
@*@using (Html.BeginForm("EditCharges", "Admin", new { enctype = "multipart/form-data", onsubmit = "return jQueryAjaxPost(this);" }))
{
}*@
    <form action="EditCharges" onsubmit=" return jQueryAjaxPost(this);">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x=>x.ID)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Məsrəf Adı</label>
                    @Html.TextBoxFor(x => x.charge_name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.charge_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Məsrəf Faizi</label>
                    @Html.TextBoxFor(x => x.charge_value, new { @class = "form-control inputmask", @inputmode = "numeric" })
                    @Html.ValidationMessageFor(model => model.charge_value, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Qeyd Et</button>
            </div>            
        </div>
    </form>



