@using KontaktHome.Filters
@{
    ViewBag.Title = "ActiveOrders";
}

<div class="row">
    @if (TempData["msg"] != null)
    {
        <script>
                var message = '@TempData["msg"].ToString()';
                var type='@TempData["typ"].ToString()';
                Swal.fire(
                   message,
                    '',
                    type
                )
        </script>

    }
    @using (Html.BeginForm(null,null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h4 class="card-title">Aktiv Sifarişlər</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="row col-md-12 col-xl-6 ">
                            <div class="col-md-6" id="sandbox-container">
                                <div class="form-group">
                                    <label>Başlanğıc Tarixi</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control " id="firstDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="sandbox-container">
                                <div class="form-group">
                                    <label>Bitiş Tarixi</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control " id="lastDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Satıcı</label>
                                    <div class="col-form-txt">
                                        @Html.DropDownList("Seller", (ViewBag.Seller as SelectList), "", new { @class = "form-control", id = "saticilar", })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mağaza</label>
                                    <div class="col-form-txt">
                                        @Html.DropDownList("Stores", (ViewBag.Store as SelectList), "", new { @class = "form-control", id = "magazalar" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="chkActiveOrders" value="option1" checked>
                                        <label for="chkActiveOrders" class="custom-control-label">Aktiv Sifarişlər</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="chkClosedOrders" value="option1">
                                        <label for="chkClosedOrders" class="custom-control-label">Tamamlanmış və İmtina Edilmiş Sifarişlər</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" onclick="getActiveOrdersWithParametr()" class="btn btn-primary">Axtar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-body">
            <div class="col-md-12">
                <div class="table-responsive" id="activeOrdersPrint">
                    <table id="tableActiveOrders" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:8%">Sifariş No</th>
                                <th style="width:7%">Tarix</th>
                                <th style="width:15%">Müştəri Məlumatları</th>
                                <th style="width:10%">Tel No</th>
                                <th style="width:10%">Satıcı Kodu</th>
                                <th style="width:10%">Sifariş Mağazası</th>
                                <th style="width:10%">Status</th>
                                <th>Link</th>
                                <th style="width:5%">Aktiv</th>
                                <th style="width:25%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
@section JavaScript{
    <script>
        document.getElementById('sidemenu1').className = 'nav-item has-treeview menu-open';
        document.getElementById('sidemenu1_1').className = 'nav-link active';
        document.getElementById('activeOrders').className = 'nav-link active';
        document.getElementById('firstDate').value = getToday();
        document.getElementById('lastDate').value = getToday();
        function mesaj() {
            var tttt = document.getElementById('Seller').value;
            alert(tttt);
        }
    </script>
    }  

