@using Entities
@model Orders
@{
    ViewBag.Title = "NewOrder";
}

<script>
    document.getElementById('sidemenu1').className = 'nav-item has-treeview menu-open';
    document.getElementById('sidemenu1_1').className = 'nav-link active';
    document.getElementById('newOrder').className = 'nav-link active';
</script>

<div class="content  ">
    <div class="container">
        <!-- /.left panel -->
        <div class="col-md-12">
            @if (ViewBag.Status == "1")
            {
                <script>
                    Swal.fire(
                        'Qeyd Tamamlandı!',
                        '',
                        'success'
                    )
                </script>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group col-lg-12">
                    @Html.ValidationSummary(false)
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Müştəri Məlumatları</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ad</label>
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", id = "customername", placeholder = "Ad ..." } })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Soyad</label>
                                    @Html.EditorFor(model => model.CustomerSurname, new { htmlAttributes = new { @class = "form-control", id = "customersurname", placeholder = "Soyad ..." } })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Ata Adı</label>
                                    @Html.EditorFor(model => model.CustomerFatherName, new { htmlAttributes = new { @class = "form-control", id = "customerfname", placeholder = "Ata Adı ..." } })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Satıcı</label>
                                    @Html.EditorFor(model => model.SellerCode, new { htmlAttributes = new { @class = "form-control", id = "customerfname", placeholder = "Satıcı ..." } })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Telefon 1</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control", id = "telno1" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Telefon 2</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        @Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control", id = "telno2" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Ünvan</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", id = "customeraddress", placeholder = "Ünvan ..." } })
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ziyarət Tarixi</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-md-6" id="sandbox-container">
                                <div class="form-group">
                                    <label>Ziyarət Tarixi</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        @Html.EditorFor(model => model.VisitDate, new { htmlAttributes = new { @class = "form-control", id = "visitdate" } })
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Sifariş Növü</label>
                                        <div class="custom-checkbox">
                                            @Html.CheckBoxFor(model => model.OrderType1, new { htmlAttributes = new { @class = "custom-control-input" } })
                                            @Html.LabelFor(c => c.OrderType1, new { htmlAttributes = new { @class = "custom-control-label" } })
                                        </div>
                                        @*<div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                                                <label for="customCheckbox1" class="custom-control-label">Mətbəx</label>
                                            </div>*@
                                        <div class="custom-checkbox">
                                            @Html.CheckBoxFor(model => model.OrderType2, new { htmlAttributes = new { @class = "custom-control-input" } })
                                            @Html.LabelFor(c => c.OrderType2, new { htmlAttributes = new { @class = "custom-control-label" } })
                                        </div>
                                        <div class="custom-checkbox">
                                            @Html.CheckBoxFor(model => model.OrderType3, new { htmlAttributes = new { @class = "custom-control-input" } })
                                            @Html.LabelFor(c => c.OrderType3, new { htmlAttributes = new { @class = "custom-control-label" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Təxmini Qiymət</label>
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", id = "price", placeholder = "Qiymət ..." } })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Qeyd</label>
                                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", id = "note", placeholder = "Qeyd ..." } })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right">Sorğunu Tamamla</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>





