
@using Entities
@model CustomerVisitData
@{
    ViewBag.Title = "OrderInfo";
}

<div class="content">
    <div class="container">
        <!-- /.left panel -->
        <div class="col-md-9">
            @using (Html.BeginForm("CustomerVisit", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Siafriş Məlumatları</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <label>Müştəri Adı : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.CustomerName)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Müştəri Soyadı : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.CustomerSurname)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Müştəri Ata Adı : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.CustomerFatherName)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Tel No. 1 : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.Tel1)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Tel No. 2 : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.Tel2)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Ziyarət Tarixi : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.VisitDate)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Satıcı Kodu : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.SellerCode)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Vizitor Kodu : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.VisitorCode)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Vizitor Adı : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.VisitorName)</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <label>Ünvan : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.Address)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Nişangah : </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.Location)</label>
                                </div>                               
                                <div class="col-sm-12">
                                    <label>Sifariş Növü : </label>
                                    @if (Model.order.OrderType1 == true)
                                    {
                                        @Html.LabelFor(x => x.order.OrderType1, new { @class = "text-secondary" })<label class="text-secondary">,</label>
                                    }
                                    @if (Model.order.OrderType2 == true)
                                    {
                                        @Html.LabelFor(x => x.order.OrderType2, new { @class = "text-secondary" })<label class="text-secondary">,</label>
                                    }
                                    @if (Model.order.OrderType3 == true)
                                    {
                                        @Html.LabelFor(x => x.order.OrderType3, new { @class = "text-secondary" })
                                    }
                                </div>
                                <div class="col-sm-12">
                                    <label>Sifariş Qeyd: </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.Note)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Məhsul Sayı: </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.ItemCount)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Məhsul Açıqlama: </label>
                                    <label class="text-secondary">@Html.DisplayFor(x => x.order.ItemDescription)</label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Siafriş Status: </label>
                                    @if (Model.order.OrderStatus == 1)
                                    {
                                        <label class="text-secondary">Gözləmədə</label>
                                    }
                                    else if (Model.order.OrderStatus == 2)
                                    {
                                        <label class="text-secondary">Vizitor Təyin Edilib</label>
                                    }
                                </div>
                                <div class="col-sm-12">
                                    <label>Vizitor Status: </label>
                                    @if (Model.order.VisitorStatus == 1)
                                    {
                                        <label class="text-secondary">Gözləmədə</label>
                                    }
                                    else if (Model.order.VisitorStatus == 2)
                                    {
                                        <label class="text-secondary">Qəbul Edilib</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--card body end-->
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <div class="form-group col-lg-12">
                    @Html.ValidationSummary(false)
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Məhsullar</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="col-md-12" id="itemSection">
                            @for (int i = 0; i < Model.visitData.Count; i++)
                            {
                                @Html.HiddenFor(m => m.visitData[i].VisitID)
                                @Html.HiddenFor(m => m.visitData[i].CreateOn)
                                @Html.HiddenFor(m => m.visitData[i].CreateUser)
                                @Html.HiddenFor(m => m.visitData[i].LastUpdate)
                                @Html.HiddenFor(m => m.visitData[i].UpdateUser)
                                @Html.HiddenFor(m => m.visitData[i].OrderId)
                                @Html.HiddenFor(m => m.visitData[i].VisitGuid)
                                @Html.HiddenFor(m => m.visitData[i].ProductName)
                                <div class="card card-info collapsed-card">
                                    <div class="card-header">
                                        @{int mehsulsayi = i; mehsulsayi = mehsulsayi + 1; }
                                        <a href="#"><h3 class="card-title" data-card-widget="collapse">Məhsul @mehsulsayi </h3></a>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="display: none;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Mebel Tipi</label>
                                                        <div class="form-group">

                                                            @Html.EditorFor(x => x.visitData[i].ProductCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row border-top border-info pt-3">
                                                    <div class="col-sm-12"><label>Ölçü</label></div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>En</label>
                                                            @Html.EditorFor(x => x.visitData[i].DWidth, new { htmlAttributes = new { @class = "form-control", id = "dimensionWide", placeholder = "En ...", @readonly = "readonly" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Uzun</label>
                                                            @Html.EditorFor(x => x.visitData[i].DLenght, new { htmlAttributes = new { @class = "form-control", id = "dimensionLemght", placeholder = "Uzun ...", @readonly = "readonly" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label>Hündürlük</label>
                                                            @Html.EditorFor(x => x.visitData[i].DHeight, new { htmlAttributes = new { @class = "form-control", id = "dimensionHeight", placeholder = "Hündürlük ...", @readonly = "readonly" } })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row border-top border-info pt-3">
                                                    <div class="col-sm-6">
                                                        <label>Material Növü</label>
                                                        <div class="form-group">
                                                            @Html.EditorFor(x => x.visitData[i].MaterialType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>Material Rəngi</label>
                                                        <div class="form-group">
                                                            <div class="col-form-txt">
                                                                @Html.EditorFor(x => x.visitData[i].MaterialColour, new { htmlAttributes = new { @class = "form-control", placeholder = "Rəng ...", @readonly = "readonly" } })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row border-top border-info pt-3">
                                                    <div class="col-sm-6">
                                                        <label>Dəzgahlıq</label>
                                                        <div class="form-group">
                                                            @Html.EditorFor(x => x.visitData[i].PanelType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>Dəzgahlıq Rəngi</label>
                                                        <div class="form-group">
                                                            <div class="col-form-txt">
                                                                @Html.EditorFor(x => x.visitData[i].PanelColour, new { htmlAttributes = new { @class = "form-control", placeholder = "Rəng ...", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row border-top border-info pt-3">
                                                    <div class="col-sm-6">
                                                        <label>Qapaq</label>
                                                        <div class="form-group">
                                                            @Html.EditorFor(x => x.visitData[i].DoorType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <label>Qapaq Rəngi</label>
                                                        <div class="form-group">
                                                            <div class="col-form-txt">
                                                                @Html.EditorFor(x => x.visitData[i].DoorColour, new { htmlAttributes = new { @class = "form-control", placeholder = "Rəng ...", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row border-top border-info pt-3">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Aksesuar</label>
                                                            <div class="col-form-txt">
                                                                @Html.EditorFor(x => x.visitData[i].Accessory, new { htmlAttributes = new { @class = "form-control", placeholder = "Aksesuar ...", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Güzgü</label>
                                                            <div class="col-form-txt">
                                                                @Html.EditorFor(x => x.visitData[i].Mirror, new { htmlAttributes = new { @class = "form-control", placeholder = "Güzgü ...", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row border-top border-info pt-3">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Qeyd</label>
                                                            <div class="col-form-txt">
                                                                @Html.EditorFor(x => x.visitData[i].Note, new { htmlAttributes = new { @class = "form-control", id = "note", placeholder = "Qeyd ...", rows = "3", @readonly = "readonly" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer" style="display: none;">

                                    </div>
                                </div>

                            }
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            Sifariş Şəkilləri
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var visitiamges in Model.visitImages)
                            {
                                <div class="col-sm-2">
                                    <a href="@Url.Content(visitiamges.ImagePath)" data-toggle="lightbox" data-title="@visitiamges.ImageName" data-gallery="gallery">
                                        <img src="@Url.Content(visitiamges.ImagePath)" class="img-fluid mb-2" alt="@visitiamges.ImageName">
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



