@using Entities.Model.LocalModels
@model ProductionData
@{
    ViewBag.Title = "ProductionRecipe";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<div class="content">
    <div class="col-md-12">
        <div id="errors" class="col-md-12">

        </div>
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Siafriş Məlumatları</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered table-form-custom">
                            <tbody>
                                <tr>
                                    <td>Müştəri Adı/Soyadı :</td>
                                    <td class="p-1">@Model.order.CustomerSurname @Model.order.CustomerName @Model.order.CustomerFatherName</td>
                                </tr>
                                <tr>
                                    <td>Sifariş Nömrəsi:</td>
                                    <td class="p-1" id="orderNo">@Model.order.OrderId</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered table-form-custom">
                            <tbody>
                                <tr>
                                    <td>Vizit Nömrəsi :</td>
                                    <td class="p-1" id="visitNo">@Model.visits.VisitID</td>
                                </tr>
                                <tr>
                                    <td>Məhsul Növü :</td>
                                    <td class="p-1">@Model.visits.ProductCode</td>
                                </tr>
                                <tr>
                                    <td>Məhsul En :</td>
                                    <td class="p-1">@Model.visits.DWidth</td>
                                </tr>
                                <tr>
                                    <td>Məhsul Uzun :</td>
                                    <td class="p-1">@Model.visits.DLenght</td>
                                </tr>
                                <tr>
                                    <td>Məhsul Hündürlük :</td>
                                    <td class="p-1">@Model.visits.DHeight</td>
                                </tr>
                                <tr>
                                    <td>Material Növü :</td>
                                    <td class="p-1">@Model.visits.MaterialType</td>
                                </tr>
                                <tr>
                                    <td>Material Rəngi :</td>
                                    <td class="p-1">@Model.visits.MaterialColour</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-form">
                            <tbody>
                                <tr>
                                    <td>Dəzgahlıq :</td>
                                    <td class="p-1">@Model.visits.PanelType</td>
                                </tr>
                                <tr>
                                    <td>Dəzgahlıq Rəngi :</td>
                                    <td class="p-1">@Model.visits.PanelColour</td>
                                </tr>
                                <tr>
                                    <td>Qapaq :</td>
                                    <td class="p-1">@Model.visits.DoorType</td>
                                </tr>
                                <tr>
                                    <td>Qapaq Rəngi :</td>
                                    <td class="p-1">@Model.visits.DoorColour</td>
                                </tr>
                                <tr>
                                    <td>Aksesuar :</td>
                                    <td class="p-1">@Model.visits.Accessory</td>
                                </tr>
                                <tr>
                                    <td>Güzgü :</td>
                                    <td class="p-1">@Model.visits.Mirror</td>
                                </tr>
                                <tr>
                                    <td>Qeyd :</td>
                                    <td class="p-1">@Model.visits.Note</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Reçete Girişi</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info float-right" data-toggle="modal" onclick="LoadProducts()" data-target="#stokModal"><i class="fas fa-plus"> Stok Seç</i></button>
                    </div>
                </div>
                <div class="row pt-2 mt-2 border-top">

                    <button class="btn btn-primary mb-2" type="button" onclick="exportToexcell('faqs')">Excel Köçür</button>

                    <div id="recipeitemAlert"></div>
                    <div class="table-responsive">
                        <table id="faqs" class="table table-bordered table-hover table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width:30%">Stok Kodu</th>
                                    <th style="width:30%">Stok Adı</th>
                                    <th style="width:10%">Qiymət</th>
                                    <th style="width:10%">Miqdar</th>
                                    <th style="width:10%">Toplam</th>
                                    <th style="display:none">ID</th>
                                    <th style="width:10%" class="noExl"></th>
                                </tr>
                            </thead>
                            <tbody id="tableProd">
                                @if (Model.productionItems.Count > 0)
                                {
                                    for (int i = 0; i < Model.productionItems.Count; i++)
                                    {
                                        <tr id="faqs-row@(i)">
                                            <td style="padding:0.60rem">@Model.productionItems[i].ProductCode</td>
                                            <td style="padding:0.60rem">@Model.productionItems[i].ProductName</td>
                                            <td style="padding:0.20rem"><input type="text" class="form-control inputmask" data-inputmask-alias="decimal" inputmode="numeric" onChange="calculateProduct(this)" value="@Model.productionItems[i].ProductPrice"></td>
                                            <td style="padding:0.20rem"><input type="text" class="form-control inputmask" data-inputmask-alias="decimal" inputmode="numeric" onChange="calculateProduct(this)" value="@Model.productionItems[i].ProductQuantity"></td>
                                            <td style="padding:0.60rem">@Model.productionItems[i].ProductTotal</td>
                                            <td style="padding:0.60rem;display:none">@Model.productionItems[i].Id</td>
                                            <td style="padding:0.40rem"><button type="button" class="btn btn-sm btn-danger" onclick="removeproduct(this)"><i class="fa fa-trash"></i> Sil</button></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="table-responsive">
                            <table class="table table-bordered table-form-custom">
                                <tbody>
                                    <tr>
                                        <td>Cəmi :</td>
                                        @if (Model.productionItems.Count > 0)
                                        {
                                            <td id="productTotal" class="text-right">@Model.productionItems[0].DocSum</td>
                                        }
                                        else
                                        {
                                            <td id="productTotal" class="text-right">0.00</td>
                                        }
                                        <td>AZN</td>
                                    </tr>
                                    <tr>
                                        <td>Məsrəf Növü :</td>
                                        @if (HttpContext.Current.User.IsInRole("Kordinator") || HttpContext.Current.User.IsInRole("Admin"))
                                        {
                                            <td>@Html.DropDownList("productCharge", Model.itemGroups, "", new { @class = "form-control", @id = "productCharge", @onChange = "calculateTotal()" })</td>
                                        }
                                        else
                                        {
                                            <td>@Html.DropDownList("productCharge", Model.itemGroups, "", new { @class = "form-control", @id = "productCharge", @onChange = "calculateTotal()", @disabled = "disabled" })</td>
                                        }

                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Məsrəf Faizi :</td>
                                        @if (Model.productionItems.Count > 0)
                                        {
                                            if (HttpContext.Current.User.IsInRole("Kordinator") || HttpContext.Current.User.IsInRole("Admin"))
                                            {
                                                <td><input type="text" class="form-control inputmask" data-inputmask-alias="decimal" inputmode="numeric" value="@Model.productionItems[0].ProductCharges" id="chargeValue" onChange="calculateTotal()" /></td>
                                            }
                                            else
                                            {
                                                <td><input type="text" class="form-control inputmask" data-inputmask-alias="decimal" inputmode="numeric" value="@Model.productionItems[0].ProductCharges" id="chargeValue" onChange="calculateTotal()" readonly="readonly" /></td>
                                            }

                                        }
                                        else
                                        {
                                            if (HttpContext.Current.User.IsInRole("Kordinator") || HttpContext.Current.User.IsInRole("Admin"))
                                            {
                                                <td><input type="text" class="form-control" value="150" id="chargeValue" onChange="calculateTotal()" /></td>
                                            }
                                            else
                                            {
                                                <td><input type="text" class="form-control" value="150" id="chargeValue" onChange="calculateTotal()" readonly="readonly" /></td>
                                            }

                                        }
                                        <td>%</td>
                                    </tr>
                                    <tr>
                                        <td>Yekun Məbləğ :</td>
                                        @if (Model.productionItems.Count > 0)
                                        {
                                            <td id="productSum" class="text-right">@Model.productionItems[0].DocTotal</td>
                                        }
                                        else
                                        {
                                            <td id="productSum" class="text-right">0.00</td>
                                        }
                                        <td>AZN</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary float-right" id="recipeSave">Qeyd Et</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="stokModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Məhsullar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tableProducts" class="display" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Stok Kodu</th>
                                <th>Stok Adı</th>
                                <th>Qiyməti</th>
                                <th>Miqdarı</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
            </div>
        </div>
    </div>
</div>
@section JavaScript{
    <script>
        var faqs_row = @Model.productionItems.Count;
        function addfaqs(productcode, productname, price) {
            html = '<tr id="faqs-row' + faqs_row + '">';
            html += '<td style="padding:0.60rem">' + productcode + '</td>';
            html += '<td style="padding:0.60rem">' + productname + '</td>';
            html += '<td style="padding:0.20rem"><input type="text" class="form-control inputmask" data-inputmask-alias="decimal" inputmode="numeric" onChange="calculateProduct(this)" value="' + price + '"></td>';
            html += '<td style="padding:0.20rem"><input type="text" class="form-control inputmask" data-inputmask-alias="decimal" inputmode="numeric" onChange="calculateProduct(this)" value="0"></td>';
            html += '<td style="padding:0.60rem">0</td>';
            html += '<td style="padding:0.60rem;display:none">0</td>';
            html += '<td style="padding:0.40rem"><button type="button" class="btn btn-sm btn-danger" onclick="removeproduct(this)"><i class="fa fa-trash"></i> Sil</button></td>';
            html += '</tr>';
            $('#faqs tbody').append(html);
            faqs_row++;
            Inputmask().mask(document.querySelectorAll('.inputmask'));
        }
        function exportToexcell(tablename) {
            var orderid=document.getElementById("orderNo").innerText;
            var visiztid = document.getElementById("visitNo").innerText;
            sendToExcel(tablename, orderid, visiztid);
        }

    </script>
}